.h1{
    border-bottom: 0px 0px 0px 10px;
}
.img{
 width: 60px;
 margin-top: -112px !important;
 float: left;
}
.rows{
    background-color: black;
    width: 100%;
    height: 87px;
    color: white;
    font-size: 39px;
    margin-top: -40px;
}
.p{
    text-align: center;
    padding: 10px;
}
.content{
    height: 600px;
    width: 95%;
   background-color: #f8fdfd;
    margin-left: 43px;
    float: left;
}
.admin{
    height: 1s0px;
    width: 100%;
    background-color: rgb(91, 202, 230);
    float: left;
}
.btn1{
    float: right;
    background-color: rgba(64, 224, 208, 0.842);
    color: white;
    width: 190px;
    height: 50px;
    margin-top: -60px;
    font-size: 30px;
    border: 0;
    margin-left: -60px;
}
.h22{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}
.centenue{
    margin-top: -505px;
    width: 90%;
    float: left;
    /* background-color: rgb(66, 28, 170); */
    width: 95%;
    margin-left: 43px; 
}
.centenue{
    float: left;
    width: 95%;
    /* background-color: black; */
    
}
.centenue .cont{
    float: left;
    width: 40%;
    background-color:#97d8e2;
    margin: 0.5% 0.5% 0.5% 0.5% ;
    height: 150px;
}
.centenue .cont .conte{
    /* background-color: rgb(123, 214, 214); */
   width: 15%;
   float: left;
   margin-left: 20px;
   height: 150px;
}
.conte .logo{
    background-color: #51bfd0;
    width: 97px;
    border-radius: 100%;
    height: 100px;
   
    margin-left: 100px;
}
.centenue .cont .conte1{
    background-color: rgb(255, 255, 255);
   width: 96%;
   float: left;
   margin-left: 10px;
}
.centenue .cont .conte1 a {
  text-decoration: none;
   margin-left: 20px;
   margin-top: 40px;
   margin: 19px;
}
/* .centenue .cont .conte1 .d1 {
     /* float: right; */
  */
  .centenue .cont .conte1 a {
    text-decoration: none;
    font-size: 20px;
  }
.centenue .contt{
    float: left;
    width: 56%;
    background-color: #ffffff;
    margin: 0.5% 0.5% 0.5% 0.5% ;
    height: 460px;
    border-radius: 10px ;
    
    
}

.contee{
    background-color: rgb(6, 36, 36);
    width: 100%;
   
   float: left;
   border-radius: 3px;
   margin-right: 20px;
}
.img3{
    width: 80px;
   border-radius: 100%;
   height: 80px;
   border:  2px solid black;
   margin-left: 100px;

}
.contenu2{
    background-color: yellow;
    height: 800px;
   
}




