.generale{
    /* background-color: rgb(156, 16, 16); */
    width: 100%;
    /* height: 30px; */
    padding: 0;
    margin: 0;
    /* background-color: blue; */
}
.img{
    width: 60px;
    margin-top: -112px !important;
    float: left;
   }
.rows{
    background-color: black;
    width: 100%;
    height: 87px;
    color: white;
    font-size: 39px;
    margin-top: -40px;
}
.contenus{
    float: left;
    width: 95%;
    margin: 0.5% 0.5% 0.5% 0.5% ;
   margin-left: 40px;
}
.cuntenu1{
    float: left;
    width: 99%;
    height: 60px;
    /* margin: 0.5% 0.5% 0.5%  ; */
    background-color: rgb(91, 202, 230);

}
.p{
    text-align: center;
    padding: 10px;
    color: white;
}
.cuntenu2{
    float: left;
    width: 99%;
    background-color: rgb(92, 93, 94);
    /* height: 560px; */

}
.cuntenu3{
    float: left;
    width: 98%;
    background-color: white;
    /* height: 560px; */
    margin: 0.5% 0.5% 0.5%  ;
    margin-left: 9px;
}
.rep{
    float: left;
    width: 50%;
    border: solid 5px cadetblue;
    /* height: 100px; */
    margin: 1% 1% 1% 
    /* background-color:cadetblue; */
}
.reps{
    float: left;
    width: 70%;
    margin-left: 100px; 
    /* background-color: blue; */
}
.cuntenu2 .menu{
    float: left;
    width: 40%;
    height: 80px;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    /* margin: 0% 0.5% 0.5% 0.5% ; */
    background-color: white;

}
.cuntenu2 .menu .im{
    float: left;
    width: 100%;
    height: 130px;
   background-color: rgb(91, 194, 219);
}
.cuntenu2 .menu .im .logo{
    
    width: 120px;
    border-radius: 100%;
    height: 120px;
   margin-top: 5px;
    margin-left: 80px;
}
.cuntenu2 .menu .lists{
    float: left;
    width: 100%;
    height: 300px;
   background-color: white; 
    margin: 0% 0.5% 0.5% 0.5% ;
}
.cuntenu2 .menu .lists img{
    float: right;
    margin-left: 250px;
}

.cuntenu2 .menu .lists a {
    position: absolute;
    float: left;
  text-decoration: none;
   /* margin-left: 20px; */
   margin-top: 40px;
   margin: 30px;
   font-size: 20px;
    margin: 50px 60px ;
}
.cuntenu2 .contenue{
    float: left;
    width: 56%;
    /* height: 500px; */
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    /* margin: 0% 0.5% 0.5% 0.5% ; */
    background-color: white;

}

.pagination{
    float: right;
    margin:1% 1% 1% 1% ;
    background-color: rgb(91, 202, 230);
    height: 30px;
    border-color: rgb(91, 202, 230);

}
.nom{
    margin-top: -100px;
    margin-left: 220px;
    color: white;
    font-size: 25PX;
}